<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">   
    <servlet>
        <servlet-name>AddNewStation</servlet-name>
        <servlet-class>com.mycompany.controller.AddNewStationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewStation</servlet-name>
        <url-pattern>/AddNewStation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddNewStationForm</servlet-name>
        <servlet-class>com.mycompany.controller.AddNewStationFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewStationForm</servlet-name>
        <url-pattern>/AddNewStationForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChooseTown</servlet-name>
        <servlet-class>com.mycompany.controller.ChooseTownServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseTown</servlet-name>
        <url-pattern>/ChooseTown</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateDataForm</servlet-name>
        <servlet-class>com.mycompany.controller.UpdateDataFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDataForm</servlet-name>
        <url-pattern>/UpdateDataForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateData</servlet-name>
        <servlet-class>com.mycompany.controller.UpdateDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateData</servlet-name>
        <url-pattern>/UpdateData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>com.mycompany.controller.LoginPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartPage</servlet-name>
        <servlet-class>com.mycompany.controller.StartPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartPage</servlet-name>
        <url-pattern>/StartPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowStation</servlet-name>
        <servlet-class>com.mycompany.controller.ShowStationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowStation</servlet-name>
        <url-pattern>/ShowStation</url-pattern>
    </servlet-mapping>
</web-app>
